# git ignore for agents

# OSX specific
**.DS_Store

# python specific
**/__pycache__
__pychache__

# generally unpleasant
**/*.log

# idea folder
**/.idea

# wav and binary files
Data/npy_spect/*
Data/VoxCeleb1/vox1_dev_wav/*
Data/VoxCeleb1/vox1_test_wav/*


# File-based project format
**.iws


